* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 100%;
}
.background {
	max-width: 100%;

}
body {
	overflow: hidden;
}
.box {
	position: absolute; 
	width: 600px;
	height: 400px;
	background-color: transparent;
	animation-name: move;
	animation-delay: 0.3ms;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	background-image: url(images/car1.png);
	background-size: cover;
}
.box1 {
	position: absolute;
	width: 200px;
	height: 600px;
	animation-name: anim; 
	background-color: transparent;
	background-image: url(images/shootingstar.png);
	animation-delay: 1s;
	background-size: cover;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-iteration-count: 1;
}
.box2 {
	position: absolute; 
	width: 600px;
	height: 400px;
	background-color: transparent;
	animation-name: anim1;
	animation-delay: 3s;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-direction: alternate;
	background-image: url(images/car2.png);
	background-size: cover;
}

@keyframes move {
	from { 
		top: 200px;
		left: 0px;
	}
	to {
		top: 200px;
		left: 1400px;
	}
	}
@keyframes anim {
	0% {
		top: 10px;
		left: 100px;
	}
	50% {
		top: 400px;
		left: 400px;
	}
	100% {
		top: 800px;
		left: 1300px;
	}
}
@keyframes anim1 {
	from {
		top: 200px;
		right: 0px
	}
	to {
		top: 200px;
		right: 1400px;
	}
}
